<div>
  <b-modal
    id="modal-alteracao-senha"
    ref="modal"
    title="Esqueceu a senha?"
    cancel-title="Cancelar"
    ok-title="Resetar"
    :ok-disabled="!usuario.username && !usuario.dataNascimento"
    @hidden="resetModal"
    @ok="handleSubmit"
  >
    <form ref="form" @submit.stop.prevent="handleSubmit">
      <b-form-group label="Usuário" label-for="usr">
        <b-form-input
          id="usr"
          v-model="usuario.username"
          maxlength="14"
          placeholder="Usuário"
        ></b-form-input>
      </b-form-group>
      <b-form-group label="Data de nascimento" label-for="dt">
        <b-form-input
          id="dt"
          v-model="usuario.dataNascimento"
          type="date"
        ></b-form-input>
      </b-form-group>
    </form>
  </b-modal>
</div>
