<b-modal
  size="lg"
  id="modal-pesquisa-aluno"
  ref="modalPesquisa"
  title="Pesquisar aluno"
  cancel-title="Cancelar"
  ok-title="Gravar"
  :hide-footer="exibirFooter"
>
  <b-form-group>
    <b-form-input
      type="search"
      placeholder="Digite um nome para pesquisar"
      v-model="filtro"
      @input="pesquisar($event.target.value)"
    ></b-form-input>
  </b-form-group>
  <tabela-generica
    :itens="dadosComFiltro()"
    :campos="campos"
    @editar="selecionar"
  >
  </tabela-generica>
</b-modal>
